# Exercise: Create your own database using a compressed binary file

## Generate Fake Data File

In [1]:
!pip install Faker

Requirement already satisfied: Faker in c:\users\maksim\appdata\local\programs\python\python39\lib\site-packages (20.1.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\maksim\appdata\local\programs\python\python39\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\maksim\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.3.1 is available.
You should consider upgrading via the 'C:\Users\Maksim\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
from faker import Faker
import random
import pandas as pd
import os
import numpy as np

#create 1000.0000 users file

user_columns = ['id','name','email','phone','company','street','street_number', 'zipcode','country','birthdate','deleted']

#User storage: name:
#id, street_number: 8 bytes (2 x 32 bitnumbers between 0 and 2^31)
#name','email','phone','company','street','zipcode','country: strings of n characters requires n bytes: e.g. +-100 bytes
def generate_data(size):
  users = []
  fake = Faker()
  for i in range(0,size):
    user = [i, fake.name(), fake.ascii_email(), fake.basic_phone_number(), fake.company(), fake.street_name(), random.randint(1,1000), fake.zipcode(), fake.country(), f'{random.randint(1970,2005)}-{random.randint(1,12)}-{random.randint(1,28)}', 0]
    users.append(user)
  df = pd.DataFrame(users,columns=user_columns)
  return df

size = 10000
df = generate_data(size) #Takes about 1 minutes to run or about 12 minutes for 1000000 rows
display(df)

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,1,Kenneth George,walterswhitney@hotmail.com,362-637-0162,Jones and Sons,Denise Walks,141,10459,Bhutan,1976-6-1,0
2,2,Christine Harris,yferguson@hudson.com,(748)937-3676,Adams PLC,Michael Ferry,61,17092,Italy,1973-7-16,0
3,3,Alison Dennis,jonathan83@gmail.com,(856)251-1000,"Gomez, Holloway and Dixon",Wood Squares,994,75845,Botswana,1979-8-25,0
4,4,Stephanie Wilkins,kevinchavez@williams.biz,563-847-5604,"Atkinson, Lee and Singh",Friedman Lakes,715,69102,South Africa,1984-12-8,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Heather Moreno,shannonsanchez@thompson-thompson.com,(902)326-9417,Jones and Sons,Heather Ville,741,40316,Ghana,1995-1-15,0
9996,9996,Jose Henderson,kgreen@gmail.com,588-943-1228,Jones-Lewis,Daniel Crossing,26,95087,Saint Barthelemy,1984-9-21,0
9997,9997,Kari Jones,donna83@adams-johnson.org,3098697653,"Lamb, Cummings and Dunn",King Highway,859,49790,British Indian Ocean Territory (Chagos Archipe...,1983-8-9,0
9998,9998,Denise Cook,lanesamantha@carney-doyle.info,(636)382-0743,Floyd Ltd,Watson Way,147,26443,China,1992-5-15,0
9999,9999,Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0

## Save and load CSV file

In [3]:
import time

start = time.time()
fname = 'fake_users.csv'
df.to_csv(fname, index=False)
file_size = os.stat(fname).st_size
print(f"CSV file size is {file_size}B. Elapsed: {time.time()-start}s")
#File Size in Bytes is 1182617 (or on average 120 bytes per record) in csv.

CSV file size is 1211400B. Elapsed: 0.01886916160583496s

In [4]:
start = time.time()
df = pd.read_csv('fake_users.csv')
print(f"Loading CSV. Elapsed: {time.time()-start}s")
display(df)
display(df.describe(include='all'))

Loading CSV. Elapsed: 0.025174856185913086s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,1,Kenneth George,walterswhitney@hotmail.com,362-637-0162,Jones and Sons,Denise Walks,141,10459,Bhutan,1976-6-1,0
2,2,Christine Harris,yferguson@hudson.com,(748)937-3676,Adams PLC,Michael Ferry,61,17092,Italy,1973-7-16,0
3,3,Alison Dennis,jonathan83@gmail.com,(856)251-1000,"Gomez, Holloway and Dixon",Wood Squares,994,75845,Botswana,1979-8-25,0
4,4,Stephanie Wilkins,kevinchavez@williams.biz,563-847-5604,"Atkinson, Lee and Singh",Friedman Lakes,715,69102,South Africa,1984-12-8,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Heather Moreno,shannonsanchez@thompson-thompson.com,(902)326-9417,Jones and Sons,Heather Ville,741,40316,Ghana,1995-1-15,0
9996,9996,Jose Henderson,kgreen@gmail.com,588-943-1228,Jones-Lewis,Daniel Crossing,26,95087,Saint Barthelemy,1984-9-21,0
9997,9997,Kari Jones,donna83@adams-johnson.org,3098697653,"Lamb, Cummings and Dunn",King Highway,859,49790,British Indian Ocean Territory (Chagos Archipe...,1983-8-9,0
9998,9998,Denise Cook,lanesamantha@carney-doyle.info,(636)382-0743,Floyd Ltd,Watson Way,147,26443,China,1992-5-15,0
9999,9999,Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
count,10000.00000,10000,10000,10000,10000,10000,10000.000000,10000.000000,10000,10000,10000.0
unique,NaN,9382,9946,10000,8675,9470,NaN,NaN,243,6787,NaN
top,NaN,Michael Williams,jennifer72@yahoo.com,7326407883,Johnson Ltd,Michael Turnpike,NaN,NaN,Congo,2005-4-16,NaN
freq,NaN,7,3,1,16,4,NaN,NaN,87,5,NaN
mean,4999.50000,NaN,NaN,NaN,NaN,NaN,500.597900,50620.733900,NaN,NaN,0.0
std,2886.89568,NaN,NaN,NaN,NaN,NaN,288.567411,28881.826391,NaN,NaN,0.0
min,0.00000,NaN,NaN,NaN,NaN,NaN,1.000000,519.000000,NaN,NaN,0.0
25%,2499.75000,NaN,NaN,NaN,NaN,NaN,249.000000,25863.500000,NaN,NaN,0.0
50%,4999.50000,NaN,NaN,NaN,NaN,NaN,501.000000,50582.500000,NaN,NaN,0.0
75%,7499.25000,NaN,NaN,NaN,NaN,NaN,752.000000,75878.500000,NaN,NaN,0.0
max,9999.00000,NaN,NaN,NaN,NaN,NaN,1000.000000,99948.000000,NaN,NaN,0.0

In [5]:
#get some stats required for encoding, such as length of faker strings
for col in df.columns:
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
    print(f'col {col} is integer. range: {df[col].min()}-{df[col].max()}. unique: {df[col].nunique()}')
  elif isinstance(df[col].iloc[0],str):
    print(f'col {col} is string. range: {df[col].apply(len).min()}-{df[col].apply(len).max()}. unique: {df[col].nunique()}')

col id is integer. range: 0-9999. unique: 10000
col name is string. range: 7-26. unique: 9382
col email is string. range: 12-41. unique: 9946
col phone is string. range: 10-13. unique: 10000
col company is string. range: 6-33. unique: 8675
col street is string. range: 7-22. unique: 9470
col street_number is integer. range: 1-1000. unique: 1000
col zipcode is integer. range: 519-99948. unique: 9508
col country is string. range: 4-51. unique: 243
col birthdate is string. range: 8-10. unique: 6787
col deleted is integer. range: 0-0. unique: 1

C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):
C:\Users\Maksim\AppData\Local\Temp\ipykernel_4976\3904639341.py:3: FutureWarning: is_int64_dtype is deprecated and will be removed in a future version. Use dtype == np.int64 instead.
  if pd.api.types.is_int64_dtype(df[col].iloc[0]):

## Encode and decode tuple to fixed-lengh binary string

In [6]:
#convert tuple to binary
import struct #See https://docs.python.org/3/library/struct.html

"""
Using struct python package to convert to binary vector
">" : litle endian (general format that defined order)
"H" " unsigned short integer (2 bytes )
"I" :  unsigned integer (4 bytes)
"32s" = string of max length 32 (32 bytes). If string is smaller, padding with 0 (less efficient)
columns: ['id','name','email','phone','company','street','street_number', 'zipcode','country','birthdate']
            I    32s    64s      16s     64s      32s          H             I          64s      16s
"""
format = '>I32s64s16s64s32sHI64s16sI'
size_user = struct.calcsize(format)
print(f'size of user: {size_user}B')

def encode_user(user_row):
  """
  Convert user tuple to fixed-length binary vector
  :param user_row: user tuple/array where colums are ['id','name','email','phone',...]
  :return: binary representation of user tuple
  """
  values = [ value.encode('ascii') if isinstance(value,str) else value for value in user_row]
  binary_string = struct.pack(format, *values)
  return binary_string

def decode_user(binary_string):
  """
  Convert from  fixed-length binary vector to user_tuple
  :param binary_string: user as binary string
  :return: user tuple with ['id','name','email','phone',...]
  """
  values = struct.unpack(format, binary_string)
  values = [ value.decode('ascii').replace('\x00','') if not isinstance(value,int) else value for value in values]
  return values

#test:
first_row = df.iloc[0]
binary_row = encode_user(first_row)
print(f'first user: {first_row.values}')
print(binary_row)
print(f'encode: {len(binary_row)}')
#Remark that binary size is very large, due to padding to fixed length
#One solution (not implemented) is to work with varying length tuples,
#i.e. storing the length first and the characterd "3abc" instead of fixed-length padding like "00000000000abc"
first_row = decode_user(binary_row)
print(f'decode_user: {first_row}')

size of user: 302B
first user: [0 'Patricia Smith' 'eriksmith@hotmail.com' '7326407883' 'Wells-Mendez'
 'Julie Creek' 604 51907 'Falkland Islands (Malvinas)' '1982-1-12' 0]
b'\x00\x00\x00\x00Patricia Smith\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00eriksmith@hotmail.com\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x007326407883\x00\x00\x00\x00\x00\x00Wells-Mendez\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00Julie Creek\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x02\\\x00\x00\xca\xc3Falkland Islands (Malvinas)\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x001982-1-12\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
encode: 302
decode_user: [0, 'Patricia Smith', 'eriksmith@hotmail.com', '7326407883', 'Wells-Mendez', 'Julie Creek', 604, 51907, 'Falkland Islands (Malvinas)', '1982-1-12', 0]

## Exercise 1: Save and load to binary file

**Exercise 1: Complete code to save and load from binary file**

Use *file* from python, see https://docs.python.org/3/tutorial/inputoutput.html

*file* API:

- *fh = open(filename, mode)*, e.g. mode can be "rb" (read binary), "rw" (write new binary file) or "r+b" (read and write existing binary file)
- *fh.read(N)* returns byte array with *N* bytes or False if nothing to read
- *fh.write(bytearray)* write (or appends) bytearray at current position
- *fh.seek(N)* go to file position starting at *N* bytes

In [7]:
def save_users_to_binary_file(filename, df):
    """
    Saves users to sorted fixed-length binary file
    :param filename: binary file to save
    :param df: pandas dataframe contains all users
    :return:
    """
#     start = time.time()
#     file = open(filename, "wb")
#     nr_of_rows = df.shape[0]
#     for i in range(0, nr_of_rows):
#         file.write(encode_user(df.iloc[i])) # df.iloc[i] is the i-th user tuple
#     file.close()
#     print(f'saved {nr_of_rows} records to {filename}. Time: {time.time() -start}s')

    start = time.time()

#     # Open the binary file in binary write mode
#     with open(filename, "wb") as file:
#         # Encode all user rows and write them to the binary file
#         for _, row in df.iterrows():
#             binary_row = encode_user(row)
#             file.write(binary_row)

    with open(filename, "wb") as file: # 0.18
        # Apply the encode_function to each row in the DataFrame and write to the file
        df.apply(lambda row: file.write(encode_user(row)), axis=1)

    print(f'saved {df.shape[0]} records to {filename}. Time: {time.time() - start}s')

def load_user_from_binary_file(filename,user_columns=user_columns):
    """
    Loads users from sorted fixed-length binary file
    :param filename: binary file to load
    :user_columns: name of columns
    :return: pandas dataframe with all user tuples
    """
    start = time.time()
    users = []

    file = open(filename, "rb")
    file.seek(0, 2) # seeking to the very end of the file
    file_size = file.tell() # current position = last byte of the file
    nr_of_rows = int(file_size / size_user)
    file.seek(0)

    for i in range(0, nr_of_rows):
        user_to_load = decode_user(file.read(size_user))
        if user_to_load[10] == 0:  # user isn't deleted
           users.append(user_to_load)
    file.close()
    print(f'loaded {nr_of_rows} records from {filename}. Time: {time.time() -start}s')
    df = pd.DataFrame(users,columns=user_columns)
    return df

In [8]:
#save
fname_bin = 'fake_users.bin'
save_users_to_binary_file(fname_bin, df)
file_size = os.stat(fname_bin).st_size
print(f"File size is {file_size}B")

saved 10000 records to fake_users.bin. Time: 0.03988337516784668s
File size is 3020000B

In [9]:
#load
df2 = load_user_from_binary_file(fname_bin)
display(df2)

loaded 10000 records from fake_users.bin. Time: 0.030501127243041992s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,1,Kenneth George,walterswhitney@hotmail.com,362-637-0162,Jones and Sons,Denise Walks,141,10459,Bhutan,1976-6-1,0
2,2,Christine Harris,yferguson@hudson.com,(748)937-3676,Adams PLC,Michael Ferry,61,17092,Italy,1973-7-16,0
3,3,Alison Dennis,jonathan83@gmail.com,(856)251-1000,"Gomez, Holloway and Dixon",Wood Squares,994,75845,Botswana,1979-8-25,0
4,4,Stephanie Wilkins,kevinchavez@williams.biz,563-847-5604,"Atkinson, Lee and Singh",Friedman Lakes,715,69102,South Africa,1984-12-8,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,Heather Moreno,shannonsanchez@thompson-thompson.com,(902)326-9417,Jones and Sons,Heather Ville,741,40316,Ghana,1995-1-15,0
9996,9996,Jose Henderson,kgreen@gmail.com,588-943-1228,Jones-Lewis,Daniel Crossing,26,95087,Saint Barthelemy,1984-9-21,0
9997,9997,Kari Jones,donna83@adams-johnson.org,3098697653,"Lamb, Cummings and Dunn",King Highway,859,49790,British Indian Ocean Territory (Chagos Archipe...,1983-8-9,0
9998,9998,Denise Cook,lanesamantha@carney-doyle.info,(636)382-0743,Floyd Ltd,Watson Way,147,26443,China,1992-5-15,0
9999,9999,Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0

## Excercise 2: Random access

**Exercise 2: Complete code to save and load single a record using random access (i.e. file.seek)**

In [10]:
from logging import FileHandler
def read_user(user_id, fh):
    """
    Random access to read fixed-length user tuple in sorted file
    :param user_id: id of user data to read
    :param fh: file handle
    :return: decoded user tuple
    """
    offset = user_id * size_user
    fh.seek(offset)
    binary_row = fh.read(size_user)
    user_tuple = decode_user(binary_row)

    # user is deleted
    if user_tuple[10] == 1:
      return None

    return user_tuple

def write_user(user, fh):
    """
    Random acces to write/update fixed-length user tuple in sorted file
    :param user: user tuple/array where colums are ['id','name','email','phone',...]
    :param fh: file handle
    :return: -updated-user-tuple-in-file/ => void
    """
    offset = user[0] * size_user
    fh.seek(offset)
    binary_row = encode_user(user)
    fh.write(binary_row)

def delete_user(user_id, fh):
    """
    Delete user from database
    :param user_id: id of user data to delete
    :param fh: file handle
    :return: bool success
    """
    user_to_delete = read_user(user_id, fh)

    # already deleted
    if user_to_delete is None:
      return False

    else:
      user_to_delete[10] = 1
      write_user(user_to_delete, fh)
      return True

def insert_user(user, fh):
    """
    Insert user in database
    :param user: user to insert
    :param fh: file handle
    :return: bool success
    """
    fh.seek(0, 2) # seeking to the very end of the file
    file_size = fh.tell() # current position = last byte of the file
    new_id = int(file_size / size_user)
    user = [new_id] + user

    offset = file_size
    fh.seek(offset)
    binary_row = encode_user(user)
    fh.write(binary_row)

    return True

In [11]:
#Read 4 random users
fh = open(fname_bin,"rb")
start = time.time()
random_ids = [0, 100, 200, 9999]
random_users = []
for id in random_ids:
  user_i = read_user(id, fh)
  random_users.append(user_i)
print(f'Loading {len(random_ids)} random users. Elapsed: {time.time() -start}s')
fh.close()
df_sample = pd.DataFrame(random_users,columns=user_columns)
display(df_sample)

Loading 4 random users. Elapsed: 0.0s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,100,Daniel Hansen,hicksmichael@yahoo.com,8508054624,Moran-Morales,Zachary Plain,551,98871,French Southern Territories,1971-6-21,0
2,200,Kelsey Cole,campbellveronica@yates-long.org,589-395-1226,Deleon-Conley,Lisa Route,701,91592,Equatorial Guinea,1970-9-13,0
3,9999,Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0

In [12]:
#Update 4 random users
fh = open(fname_bin,"r+b") #open file for updating with "r+b", do not use "wb" since otherwise file will be blank!
start = time.time()
random_ids = [0, 100, 200, 9999]
for user in random_users:
  user[1] = 'X ' + user[1]
  write_user(user,fh)
print(f'Writing {len(random_ids)} random users. Elapsed: {time.time() -start}s')
fh.close()

Writing 4 random users. Elapsed: 0.0s

In [13]:
# Check to see if users have been updated (X in front of name)
fh = open(fname_bin,"rb")
start = time.time()
random_ids = [0, 100, 200, 9999]
random_users = []
for id in random_ids:
  user_i = read_user(id, fh)
  random_users.append(user_i)
print(f'Loading {len(random_ids)} random users. Elapsed: {time.time() -start}s')
fh.close()
df_sample = pd.DataFrame(random_users,columns=user_columns)
display(df_sample)

Loading 4 random users. Elapsed: 0.0s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,X Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,100,X Daniel Hansen,hicksmichael@yahoo.com,8508054624,Moran-Morales,Zachary Plain,551,98871,French Southern Territories,1971-6-21,0
2,200,X Kelsey Cole,campbellveronica@yates-long.org,589-395-1226,Deleon-Conley,Lisa Route,701,91592,Equatorial Guinea,1970-9-13,0
3,9999,X Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0

In [14]:
# Delete user by id
fh = open(fname_bin,"r+b")
start = time.time()
ids_to_delete = [2] # use any
for _id in ids_to_delete:
  success = delete_user(_id, fh)
  if not success:
    print("User with id="+str(_id)+" is already deleted!")
print(f'deleting {len(ids_to_delete)} random users. Elapsed: {time.time() -start}s')
fh.close()
df_after_delete = load_user_from_binary_file(fname_bin)
display(df_after_delete)

deleting 1 random users. Elapsed: 0.0010042190551757812s
loaded 10000 records from fake_users.bin. Time: 0.031154394149780273s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,X Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,1,Kenneth George,walterswhitney@hotmail.com,362-637-0162,Jones and Sons,Denise Walks,141,10459,Bhutan,1976-6-1,0
2,3,Alison Dennis,jonathan83@gmail.com,(856)251-1000,"Gomez, Holloway and Dixon",Wood Squares,994,75845,Botswana,1979-8-25,0
3,4,Stephanie Wilkins,kevinchavez@williams.biz,563-847-5604,"Atkinson, Lee and Singh",Friedman Lakes,715,69102,South Africa,1984-12-8,0
4,5,Kathryn Davila,beth69@hines-campbell.com,344-739-1382,Rogers-Barton,Tony Drive,922,95201,Seychelles,1980-1-8,0
...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,Heather Moreno,shannonsanchez@thompson-thompson.com,(902)326-9417,Jones and Sons,Heather Ville,741,40316,Ghana,1995-1-15,0
9995,9996,Jose Henderson,kgreen@gmail.com,588-943-1228,Jones-Lewis,Daniel Crossing,26,95087,Saint Barthelemy,1984-9-21,0
9996,9997,Kari Jones,donna83@adams-johnson.org,3098697653,"Lamb, Cummings and Dunn",King Highway,859,49790,British Indian Ocean Territory (Chagos Archipe...,1983-8-9,0
9997,9998,Denise Cook,lanesamantha@carney-doyle.info,(636)382-0743,Floyd Ltd,Watson Way,147,26443,China,1992-5-15,0
9998,9999,X Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0

In [15]:
# Insert user without id
fh = open(fname_bin,"r+b")
start = time.time()
fake = Faker()
new_user = [fake.name(), fake.ascii_email(), fake.basic_phone_number(), fake.company(), fake.street_name(), random.randint(1,1000), int(fake.zipcode()), fake.country(), f'{random.randint(1970,2005)}-{random.randint(1,12)}-{random.randint(1,28)}', 0]
insert_success = insert_user(new_user, fh)
fh.close()
print(f'inserting random user. Elapsed: {time.time() -start}s')

df_after_delete = load_user_from_binary_file(fname_bin)
display(df_after_delete)

inserting random user. Elapsed: 0.030134916305541992s
loaded 10001 records from fake_users.bin. Time: 0.03559684753417969s

,id,name,email,phone,company,street,street_number,zipcode,country,birthdate,deleted
0,0,X Patricia Smith,eriksmith@hotmail.com,7326407883,Wells-Mendez,Julie Creek,604,51907,Falkland Islands (Malvinas),1982-1-12,0
1,1,Kenneth George,walterswhitney@hotmail.com,362-637-0162,Jones and Sons,Denise Walks,141,10459,Bhutan,1976-6-1,0
2,3,Alison Dennis,jonathan83@gmail.com,(856)251-1000,"Gomez, Holloway and Dixon",Wood Squares,994,75845,Botswana,1979-8-25,0
3,4,Stephanie Wilkins,kevinchavez@williams.biz,563-847-5604,"Atkinson, Lee and Singh",Friedman Lakes,715,69102,South Africa,1984-12-8,0
4,5,Kathryn Davila,beth69@hines-campbell.com,344-739-1382,Rogers-Barton,Tony Drive,922,95201,Seychelles,1980-1-8,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Jose Henderson,kgreen@gmail.com,588-943-1228,Jones-Lewis,Daniel Crossing,26,95087,Saint Barthelemy,1984-9-21,0
9996,9997,Kari Jones,donna83@adams-johnson.org,3098697653,"Lamb, Cummings and Dunn",King Highway,859,49790,British Indian Ocean Territory (Chagos Archipe...,1983-8-9,0
9997,9998,Denise Cook,lanesamantha@carney-doyle.info,(636)382-0743,Floyd Ltd,Watson Way,147,26443,China,1992-5-15,0
9998,9999,X Walter Smith,fpotter@hotmail.com,(307)925-0245,Sampson-Torres,Jenna Stream,671,31158,Andorra,1981-1-2,0
9999,10000,Kayla Carrillo,mcbridesusan@gmail.com,7603626453,Rush-Hall,Joanna Highway,179,18894,Faroe Islands,1988-12-25,0

# Compressed varying-length binary file

## Excercise 3: Modify dataframe and encode country using bitmap encoding
**Exercise 3: Encode country using bitmap encoding. You can assume the dictionary itself does not need to be stored**

*Pandas* API:
- *df[col]*: returns a single column with name *col* as series
- *df[col].values*: returns a single column as *numpy* array
- *list(df[col].values)*: returns a single column as *python* list
- *df[col].unique()*: returns all unique (or distinct) values
- *df[col].apply(f)*: applies (or runs) the function f to all column values
- *df[col2] = df[col].apply(f)*: applies (or runs) the function f to all column values and store the result in a new column

In [16]:
def encode_dictionary(df, col):
    """
    Creates column df[col + '_dct'] containing dictionary value
    :param df: pandas dataframe
    :param col: column to apply dictionary encoding
    :return mapping between value and code
    """
    unique_values = sorted(df[col].unique())
    value_to_code = {}
    for i in range(len(unique_values)):
        value_to_code[unique_values[i]] = i
    mapping = [(key,value) for key, value in value_to_code.items()]
    df["country_dct"] = df["country"].map(value_to_code)
    return mapping

In [17]:
"""
Before: col country is string. range: 4-51. unique: 243
After: country "id" encoded using dictionary and store as 16 bit integer
"""
value_to_code_countries = encode_dictionary(df,'country')
print(value_to_code_countries)

[('Afghanistan', 0), ('Albania', 1), ('Algeria', 2), ('American Samoa', 3), ('Andorra', 4), ('Angola', 5), ('Anguilla', 6), ('Antarctica (the territory South of 60 deg S)', 7), ('Antigua and Barbuda', 8), ('Argentina', 9), ('Armenia', 10), ('Aruba', 11), ('Australia', 12), ('Austria', 13), ('Azerbaijan', 14), ('Bahamas', 15), ('Bahrain', 16), ('Bangladesh', 17), ('Barbados', 18), ('Belarus', 19), ('Belgium', 20), ('Belize', 21), ('Benin', 22), ('Bermuda', 23), ('Bhutan', 24), ('Bolivia', 25), ('Bosnia and Herzegovina', 26), ('Botswana', 27), ('Bouvet Island (Bouvetoya)', 28), ('Brazil', 29), ('British Indian Ocean Territory (Chagos Archipelago)', 30), ('British Virgin Islands', 31), ('Brunei Darussalam', 32), ('Bulgaria', 33), ('Burkina Faso', 34), ('Burundi', 35), ('Cambodia', 36), ('Cameroon', 37), ('Canada', 38), ('Cape Verde', 39), ('Cayman Islands', 40), ('Central African Republic', 41), ('Chad', 42), ('Chile', 43), ('China', 44), ('Christmas Island', 45), ('Cocos (Keeling) Islands', 46), ('Colombia', 47), ('Comoros', 48), ('Congo', 49), ('Cook Islands', 50), ('Costa Rica', 51), ("Cote d'Ivoire", 52), ('Croatia', 53), ('Cuba', 54), ('Cyprus', 55), ('Czech Republic', 56), ('Denmark', 57), ('Djibouti', 58), ('Dominica', 59), ('Dominican Republic', 60), ('Ecuador', 61), ('Egypt', 62), ('El Salvador', 63), ('Equatorial Guinea', 64), ('Eritrea', 65), ('Estonia', 66), ('Ethiopia', 67), ('Falkland Islands (Malvinas)', 68), ('Faroe Islands', 69), ('Fiji', 70), ('Finland', 71), ('France', 72), ('French Guiana', 73), ('French Polynesia', 74), ('French Southern Territories', 75), ('Gabon', 76), ('Gambia', 77), ('Georgia', 78), ('Germany', 79), ('Ghana', 80), ('Gibraltar', 81), ('Greece', 82), ('Greenland', 83), ('Grenada', 84), ('Guadeloupe', 85), ('Guam', 86), ('Guatemala', 87), ('Guernsey', 88), ('Guinea', 89), ('Guinea-Bissau', 90), ('Guyana', 91), ('Haiti', 92), ('Heard Island and McDonald Islands', 93), ('Holy See (Vatican City State)', 94), ('Honduras', 95), ('Hong Kong', 96), ('Hungary', 97), ('Iceland', 98), ('India', 99), ('Indonesia', 100), ('Iran', 101), ('Iraq', 102), ('Ireland', 103), ('Isle of Man', 104), ('Israel', 105), ('Italy', 106), ('Jamaica', 107), ('Japan', 108), ('Jersey', 109), ('Jordan', 110), ('Kazakhstan', 111), ('Kenya', 112), ('Kiribati', 113), ('Korea', 114), ('Kuwait', 115), ('Kyrgyz Republic', 116), ("Lao People's Democratic Republic", 117), ('Latvia', 118), ('Lebanon', 119), ('Lesotho', 120), ('Liberia', 121), ('Libyan Arab Jamahiriya', 122), ('Liechtenstein', 123), ('Lithuania', 124), ('Luxembourg', 125), ('Macao', 126), ('Madagascar', 127), ('Malawi', 128), ('Malaysia', 129), ('Maldives', 130), ('Mali', 131), ('Malta', 132), ('Marshall Islands', 133), ('Martinique', 134), ('Mauritania', 135), ('Mauritius', 136), ('Mayotte', 137), ('Mexico', 138), ('Micronesia', 139), ('Moldova', 140), ('Monaco', 141), ('Mongolia', 142), ('Montenegro', 143), ('Montserrat', 144), ('Morocco', 145), ('Mozambique', 146), ('Myanmar', 147), ('Namibia', 148), ('Nauru', 149), ('Nepal', 150), ('Netherlands', 151), ('Netherlands Antilles', 152), ('New Caledonia', 153), ('New Zealand', 154), ('Nicaragua', 155), ('Niger', 156), ('Nigeria', 157), ('Niue', 158), ('Norfolk Island', 159), ('North Macedonia', 160), ('Northern Mariana Islands', 161), ('Norway', 162), ('Oman', 163), ('Pakistan', 164), ('Palau', 165), ('Palestinian Territory', 166), ('Panama', 167), ('Papua New Guinea', 168), ('Paraguay', 169), ('Peru', 170), ('Philippines', 171), ('Pitcairn Islands', 172), ('Poland', 173), ('Portugal', 174), ('Puerto Rico', 175), ('Qatar', 176), ('Reunion', 177), ('Romania', 178), ('Russian Federation', 179), ('Rwanda', 180), ('Saint Barthelemy', 181), ('Saint Helena', 182), ('Saint Kitts and Nevis', 183), ('Saint Lucia', 184), ('Saint Martin', 185), ('Saint Pierre and Miquelon', 186), ('Saint Vincent and the Grenadines', 187), ('Samoa', 188), ('San Marino', 189), ('Sao Tome and Principe', 190), ('Saudi Arabia', 191), ('Senegal', 192), ('Serbia', 193), ('Seychelles', 194), ('Sierra Leone', 195), ('Singapore', 196), ('Slovakia (Slovak Republic)', 197), ('Slovenia', 198), ('Solomon Islands', 199), ('Somalia', 200), ('South Africa', 201), ('South Georgia and the South Sandwich Islands', 202), ('Spain', 203), ('Sri Lanka', 204), ('Sudan', 205), ('Suriname', 206), ('Svalbard & Jan Mayen Islands', 207), ('Swaziland', 208), ('Sweden', 209), ('Switzerland', 210), ('Syrian Arab Republic', 211), ('Taiwan', 212), ('Tajikistan', 213), ('Tanzania', 214), ('Thailand', 215), ('Timor-Leste', 216), ('Togo', 217), ('Tokelau', 218), ('Tonga', 219), ('Trinidad and Tobago', 220), ('Tunisia', 221), ('Turkey', 222), ('Turkmenistan', 223), ('Turks and Caicos Islands', 224), ('Tuvalu', 225), ('Uganda', 226), ('Ukraine', 227), ('United Arab Emirates', 228), ('United Kingdom', 229), ('United States Minor Outlying Islands', 230), ('United States Virgin Islands', 231), ('United States of America', 232), ('Uruguay', 233), ('Uzbekistan', 234), ('Vanuatu', 235), ('Venezuela', 236), ('Vietnam', 237), ('Wallis and Futuna', 238), ('Western Sahara', 239), ('Yemen', 240), ('Zambia', 241), ('Zimbabwe', 242)]

## Timestamp encoding of birthdate
Birthdate encoded as string, i.e. "1986-11-20" takes 10 bytes. Encodes
as timestamp, i.e. number of seconds since January 1st, 1970, takes 4 bytes.

In [18]:
import datetime
"""
col birthdate is string. range: 8-10. unique: 7971
  -> Convert to timestamp  with 32bits
"""
df['birthdate_ts'] = df['birthdate'].apply(lambda s:  pd.to_datetime(s,format='%Y-%m-%d'))
df['birthdate_ts'] = df['birthdate_ts'].astype(int) / 10**9

TypeError: Converting from datetime64[ns] to int32 is not supported. Do obj.astype('int64').astype(dtype) instead

In [ ]:
df = df[['id', 'name', 'email', 'phone', 'company', 'street', 'street_number', 'zipcode', 'country_dct', 'birthdate_ts']]
display(df)
new_user_columns = list(df.columns.values)
print(new_user_columns)

# Varying-length binary file

## Encode variable-length tuples

In [ ]:
#some constants for efficiency
IDX_ID = new_user_columns.index('id')
IDX_SN = new_user_columns.index('street_number')
IDX_ZIP = new_user_columns.index('zipcode')
IDX_BD = new_user_columns.index('birthdate_ts')
IDX_COUNTRY = new_user_columns.index('country_dct')
IDX_NAME = new_user_columns.index('name')
IDX_EMAIL = new_user_columns.index('email')
IDX_PHONE = new_user_columns.index('phone')
IDX_COMPANY = new_user_columns.index('company')
IDX_STREET = new_user_columns.index('street')

def encode_var_string(s):
  return [len(s)] + list(s.encode('ascii'))

def encode_user_var_length(user, is_new_user=False):
    '''
    Assuming user has columns
    ['id', 'name', 'email', 'phone', 'company', 'street', 'street_number', 'zipcode', 'country_dct', 'birthdate_ts']

    encode user object:
    id, street_number, zipcode, birthdate_ts, country_dct
    -> to integer between 1 and 4 bytes depending on range values
    name, email, phone, company, street
    -> to variable-length string, e.g. "helloworld" -> (8,"helloworld") instead of using padding, e.g."0000000helloworld"
    '''
    if not is_new_user:
        int_list = []
        int_list.extend(int(user[IDX_ID]).to_bytes(4,'little'))
        int_list.extend(int(user[IDX_SN]).to_bytes(2,'little')) #max street number < 65536 (or 2^16)
        int_list.extend(int(user[IDX_ZIP]).to_bytes(4,'little'))
        int_list.extend(int(user[IDX_BD]).to_bytes(4,'little'))
        int_list.extend(int(user[IDX_COUNTRY]).to_bytes(1,'little')) #max country < 256 (or 2^8)
        int_list.extend(encode_var_string(user[IDX_NAME]))
        int_list.extend(encode_var_string(user[IDX_EMAIL]))
        int_list.extend(encode_var_string(user[IDX_PHONE]))
        int_list.extend(encode_var_string(user[IDX_COMPANY]))
        int_list.extend(encode_var_string(user[IDX_STREET]))
        return bytearray(int_list)
    else: # example user input: [1, 'A', 'A@m.c', '1', 'G', 'addr', 1, 2, 1, 1234567890]
        int_list = []
        int_list.extend(int(user[0]).to_bytes(4, 'little'))
        int_list.extend(int(user[6]).to_bytes(2, 'little'))  # max street number < 65536 (or 2^16)
        int_list.extend(int(user[7]).to_bytes(4, 'little'))
        int_list.extend(int(user[9]).to_bytes(4, 'little'))
        int_list.extend(int(user[8]).to_bytes(1, 'little'))  # max country < 256 (or 2^8)
        int_list.extend(encode_var_string(user[1]))
        int_list.extend(encode_var_string(user[2]))
        int_list.extend(encode_var_string(user[3]))
        int_list.extend(encode_var_string(user[4]))
        int_list.extend(encode_var_string(user[5]))
    return bytearray(int_list)

## Excercise 4: Write code to decode byte_array

**Exercise 4: Complete the following code to decode a single user tuple encoded as bytes using encode_user_var_length**
API:
- *byte_array[start:end]* : get sub-array of bytes
- *int.from_bytes(byte_array_slice, "little")*: get python integer from byte array. Note that small integer can be 1 byte, and large integer can be 4 bytes or more.
- *str(byte_array_slice, encoding='ascii')*: get python string encoded as ascii

In [ ]:
def decode_user_var_length(byte_array):
    '''
    decode variable-length tuple representing user (see encode_user_var_length)
    '''
    id = int.from_bytes(byte_array[0:4], byteorder='little')
    street_number = int.from_bytes(byte_array[4:6], byteorder='little')
    zipcode = int.from_bytes(byte_array[6:10], byteorder='little')
    bd = int.from_bytes(byte_array[10:14], byteorder='little')
    country_dct = int.from_bytes(byte_array[14:15], byteorder='little')

    name_len = int.from_bytes(byte_array[15:16], "little")
    name = byte_array[16:16+name_len].decode('ascii')
    email_len = int.from_bytes(byte_array[16+name_len:16+name_len+1], "little")
    email = byte_array[16+name_len+1:16+name_len+1+email_len].decode('ascii')
    phone_len = int.from_bytes(byte_array[16+name_len+1+email_len:16+name_len+1+email_len+1], "little")
    phone = byte_array[16+name_len+1+email_len+1:16+name_len+1+email_len+1+phone_len].decode('ascii')
    company_len = int.from_bytes(byte_array[16+name_len+1+email_len+1+phone_len:16+name_len+1+email_len+1+phone_len+1], "little")
    company = byte_array[16+name_len+1+email_len+1+phone_len+1:16+name_len+1+email_len+1+phone_len+1+company_len].decode('ascii')
    street_len = int.from_bytes(byte_array[16+name_len+1+email_len+1+phone_len+1+company_len:16+name_len+1+email_len+1+phone_len+1+company_len+1], "little")
    street = byte_array[16+name_len+1+email_len+1+phone_len+1+company_len+1:16+name_len+1+email_len+1+phone_len+1+company_len+1+street_len].decode('ascii')
    l = [id, name, email, phone, company, street, street_number, zipcode, country_dct, bd]

#     loop variant, does the same, but probably a bit slower
#     i = 0
#     next_start = 16
#     len_next = int.from_bytes(byte_array[15:16], "little")
#     user_values = []
#     while i < 5:
#         start = next_start
#         user_values.append(byte_array[start:start+len_next].decode("ascii"))
#         next_start = start+len_next+1
#         if i != 4:
#             len_next = int.from_bytes(byte_array[start+len_next:start+len_next+1], "little")
#         i += 1

#     l = [id]
#     l.extend(user_values)
#     l.extend([street_number, zipcode, country_dct, bd])

    return l

In [ ]:
#test
first_user = df.iloc[0]
print(first_user.values)
byte_array = encode_user_var_length(first_user)
print(f'byte array len: {len(byte_array)}: {byte_array}') #107 bytes instead of 298 bytes!
start = time.time()
user = decode_user_var_length(byte_array)
print(f'Decoding. Elapsed: {time.time() -start}s')
print(f'decoded: {user}')

In [ ]:
## Excercise 5: Variable-length user tuples CRUD implementation

In [ ]:
from extendible_hashing import ExtendibleHashingIndex, BucketValue
from typing import Union

# Assume a page is 8192B
PAGE_SIZE: int = 8192
# There can be at most 2^13 = 8192 tuples in a page.
TUPLE_CTR_SIZE: int = 2
# 2B gives a max offset value of 2^13 = 8192,
# meaning that all tuples may be 1B and will still
# be addressable with an offset.
OFFSET_SIZE: int = 2

# An index for the user's ids in the form of a Hashtable.
# The mapping is as follows:
#       user_ID : bytearray(page_idx | slot_address)
# where user_ID is the identifier in the user's id column
# and the bytearray consists of the page's index where the
# user tuple is stored padded to 8B and the slot_address
# padded to 8B, which is the offset within the page to
# the slot corresponding to the user tuple.
user_index: ExtendibleHashingIndex = ExtendibleHashingIndex()
remaining_page_mem_index = dict()

class Page:
    def __init__(self, page_size: int, tuple_ctr_size: int, slot_size: int):
        """
        Initialize an empty page. A page has the following structure as a bytearray:
        [page_size offset_ptr1 offset_ptr2 ... tuple_2 tuple_1]

        :param page_size: The size of the page in bytes
        :param tuple_ctr_size: The size of the page's tuple counter in bytes
        :param slot_size: The size of an offset ptr in bytes
        """
        # Page constants
        self.page_size: int = page_size
        self.tuple_ctr_size: int = tuple_ctr_size
        self.slot_size: int = slot_size

        # Page contents
        # Initialized with null bytes
        self.bytearray: bytearray = bytearray(page_size)

        # Page variable members
        # Tuples grow from back to front in the page
        self.tuples_data_base_address: int = self.page_size

    @property
    def slot_array(self) -> bytearray:
        """Extract the slot array from the page. The slot
         array contains the addresses of the tuples corresponding
         to each slot as an offset within the page's bytearray.

         The size of each slot is specified by Page.slot_size,
         so each subsequent series of Page.slot_size bytes in
         the return value is a single slot.

        :return: A bytearray the slot array
        """
        return self.bytearray[self.tuple_ctr_size: self.tuple_ctr_size + self.tuple_count * self.slot_size]

    @property
    def tuples_data(self) -> bytearray:
        """Extract the tuples data from the page.

        :return: A bytearray containing the tuples data
        """
        return self.bytearray[self.tuples_data_base_address:]

    @property
    def tuple_count(self) -> int:
        """Extract the current tuple count from the page bytes.

        :return: The up-to-date tuple count as an int
        """
        return int.from_bytes(self.bytearray[0: self.tuple_ctr_size], byteorder='little')

    @property
    def unused_memory_size(self) -> int:
        """Determine the amount of unused memory inside the page in bytes.
        
        :return: Unused memory in bytes as an int
        """
        return self.tuples_data_base_address - self.tuple_ctr_size - self.tuple_count * self.slot_size
    
    def set_tuple_count(self, new_count: int) -> bool:
        assert new_count >= 0, "Cannot set a Page's tuple count to a negative value."

        new_ctr_bytes: bytes = new_count.to_bytes(self.tuple_ctr_size, byteorder='little')
        self.bytearray[0: self.tuple_ctr_size] = new_ctr_bytes

        return True

    def load_bytes(self, page_bytes: bytearray):
        """Load the specified bytearray into the Page instance, overwriting
         the page's current bytearray.

        Returns self to allow chaining.

        :param page_bytes: The bytearray to load
        :return: The page instance (self)
        """
        assert len(page_bytes) == self.page_size, f"Invalid data size: expected {self.page_size}B, got {len(page_bytes)}B"
        self.bytearray = page_bytes

        self.tuples_data_base_address = self.page_size
        if self.tuple_count > 0:
            self.tuples_data_base_address = self.get_tuple_address(self.get_slot_address(-1))

        return self

    def is_valid_slot_address(self, slot_address: int) -> bool:
        """Check whether the specified slot address is a valid slot address.

        :param slot_address: The address to validate
        :return: The validation result, True if valid, else False
        """
        above_lower_bound: bool = slot_address >= self.tuple_ctr_size
        below_upper_bound: bool = slot_address <= self.tuple_ctr_size + (self.tuple_count - 1) * self.slot_size
        multiple_of_slot_size: bool = (slot_address % self.slot_size) == 0
        return above_lower_bound and below_upper_bound and multiple_of_slot_size

    def get_slot_address(self, slot_index: int) -> int:
        """Convert the specified slot index to the address of the corresponding
         slot in the slot array. Negative indexes wrap around. Index zero corresponds
         to the first slot in the array.

        :param slot_index: The index of the slot to get the slot address for
        :return: The slot address as an int
        """
        # modulo on a negative int wraps around
        bounded_index: int = slot_index % self.tuple_count
        return self.tuple_ctr_size + bounded_index * self.slot_size

    def get_tuple_address(self, slot_address: int) -> int:
        """Get the address of the tuple stored at the specified slot address.
        The specified slot address is required to be a valid slot address,
        meaning that it does not exceed the slot array's size as specified
        by the tuple count.

        :param slot_address: The slot address to extract the tuple address from
        :return: The tuple address
        """

        assert self.is_valid_slot_address(slot_address), "Invalid slot address! Cannot get the tuple address."

        tuple_address_bytes: bytearray = self.bytearray[slot_address: slot_address + self.slot_size]
        return int.from_bytes(tuple_address_bytes, byteorder='little')

    def append_tuple(self, tuple_bytes: bytearray) -> int:
        """
        Append a tuple to the page. Requires the page to have enough free space.

        :param tuple_bytes: The tuple bytes to append to the page
        :return: The address of the newly stored tuple as an offset within this page
        """
        assert self.data_fits(tuple_bytes), f"Page is full, cannot write tuple bytes: {tuple_bytes}"

        # Setup
        init_tuple_count: int = self.tuple_count

        # write user to page
        prev_tuples_base_address = self.tuples_data_base_address
        self.tuples_data_base_address -= len(tuple_bytes)
        self.bytearray[self.tuples_data_base_address: prev_tuples_base_address] = tuple_bytes

        # write offset to page
        new_slot_address = self.tuple_ctr_size + init_tuple_count * self.slot_size
        self.bytearray[new_slot_address: new_slot_address + self.slot_size] =\
            self.tuples_data_base_address.to_bytes(self.slot_size, 'little')
        self.set_tuple_count(init_tuple_count + 1)

        return new_slot_address

    def remove_tuple(self, user_id: int, page_number: int, del_user_slot_address: int) -> None:
        """Remove the tuple corresponding to the *del_user_slot_address* slot from the page.
        Also updates the user_index and remaining_page_mem_index indexes.

        :param user_id:
        :param page_number: The index of the page
        :param del_user_slot_address: The slot address corresponding to the tuple to remove
        """
        from typing import List

        initial_tuple_count: int = self.tuple_count
        last_tuple_address: int = self.get_tuple_address(self.get_slot_address(-1))
        del_user_address: int = self.get_tuple_address(del_user_slot_address)
        del_tuple_size: int = 0

        # Start of slot array
        if del_user_slot_address == TUPLE_CTR_SIZE:
            del_tuple_size = self.page_size - del_user_address
        # Not start of slot array
        else:
            prev_slot_address: int = del_user_slot_address - self.slot_size
            prev_tuple_address: int = self.get_tuple_address(prev_slot_address)
            del_tuple_size = prev_tuple_address - del_user_address

        to_move_tuples_amount: int = initial_tuple_count - (
                (del_user_slot_address - self.tuple_ctr_size) // self.slot_size + 1)
        next_slot_address: int = del_user_slot_address + self.slot_size
        updated_slot_contents_list: List[int] = []

        # update slot array contents/values in page
        for to_move_slot_address in range(next_slot_address, next_slot_address + to_move_tuples_amount * self.slot_size,
                                          self.slot_size):
            original_slot_contents: int = self.get_tuple_address(to_move_slot_address)
            updated_slot_contents: int = original_slot_contents + del_tuple_size
            updated_slot_contents_list.append(updated_slot_contents)

            updated_slot_contents_bytes: bytes = updated_slot_contents.to_bytes(self.slot_size, byteorder='little')
            self.bytearray[to_move_slot_address - self.slot_size: to_move_slot_address] = updated_slot_contents_bytes

        user_data = self.bytearray[last_tuple_address: del_user_address]

        # The differences between slot contents, meaning they are the tuple lengths
        tuple_lengths: List[int] = [
            updated_slot_contents_list[idx] - updated_slot_contents_list[idx + 1]
            for idx in range(0, len(updated_slot_contents_list) - 1)
        ]
        # The loop iterates from the leftmost tuple in the user_data,
        # but the leftmost slot in the updated_slot_contents_list corresponds
        # to the rightmost tuple in user data, so reverse tuple_lengths.
        # Add random last value so that every offset is iterated on
        tuple_lengths = tuple_lengths[::-1] + [0]
        # The new/updated slot addresses corresponding to the moved/shifted tuples.
        updated_slot_addresses: List[int] = \
            [
                slot_address - self.slot_size
                for slot_address in
                range(del_user_slot_address + to_move_tuples_amount * self.slot_size, del_user_slot_address,
                      -self.slot_size)
            ]

        progress: int = 0
        for idx, updated_slot_address in enumerate(updated_slot_addresses):
            tuple_len: int = tuple_lengths[idx]
            user_id_size: int = 4
            user_id_bytes: bytes = user_data[progress: progress + user_id_size]
            progress += tuple_len

            user_id_int: int = int.from_bytes(user_id_bytes, 'little')
            # Slot addresses may be shorter than the space allocated to them in the index
            padded_updated_slot_address: bytes = updated_slot_address.to_bytes(8, byteorder='little')
            user_index.insert_keyval(user_id_int, page_number.to_bytes(8, byteorder='little') + padded_updated_slot_address)
            # user_index[user_id_int] = page_number.to_bytes(8, byteorder='little') + padded_updated_slot_address

        # Shift tuples to eliminate fragmentation due to single tuple delete
        data_shift_address: int = last_tuple_address + del_tuple_size
        self.bytearray[data_shift_address: data_shift_address + len(user_data)] = user_data
        self.tuples_data_base_address += del_tuple_size

        # Update tuple counter
        self.set_tuple_count(initial_tuple_count - 1)

        # update user index
        user_index.delete(user_id)
        # del user_index[user_id]

        freed_memory: int = self.slot_size + del_tuple_size
        remaining_page_mem_index[page_number] = remaining_page_mem_index.get(page_number, 0) + freed_memory

    def data_fits(self, tuple_data: bytearray) -> bool:
        """
        Whether the page contains enough free space to store the *tuple_data*.

        :param tuple_data: The data to compare against available space
        :return: True if enough space available, else False
        """
        # == The space allocated to the offset pointer array
        allocated_offsetptr_space: int = self.tuple_count * self.slot_size
        # All page space after the offset has been allocated to tuples.
        # == free space in page
        free_page_space: int = self.tuples_data_base_address - (self.tuple_ctr_size + allocated_offsetptr_space)
        # Adding a tuple requires space for the tuple and an offset ptr
        required_tuple_space: int = len(tuple_data) + self.slot_size
        return free_page_space >= required_tuple_space


def create_empty_page() -> Page:
    return Page(PAGE_SIZE, TUPLE_CTR_SIZE, OFFSET_SIZE)


def save_users_to_binary_var_length(filename, df):
    """
    saves users to fixed-length pages (our file is split up into blocks of fixed length (= pages), in this case 8192 bytes that each can contain a certain number of users)
    we also make a bplustree with key = user id and value = page number and offset of the user in that page to be able to quickly find a user by id
    file layout: [page1 page2 ... page_N]
    page layout: [N offset_t1 offset_t2... offset_tN offset_tN+1 t1 t2 ... tN]

    :param filename: binary file to save
    :param df: pandas dataframe contains all users
    :return:
    """
    from typing import List

    # create pages
    pages: List[Page] = []
    page: Page = create_empty_page()
    pages.append(page)

    for index, row in df.iterrows():
        user = encode_user_var_length(row)

        if not page.data_fits(user):
            page: Page = create_empty_page()
            pages.append(page)

        # write user to page
        new_offset_address: int = page.append_tuple(user)

        # add key = user id, value = page number and offset of user in that page to bplustree
        user_index.insert_keyval(row['id'], (len(pages) - 1).to_bytes(8, byteorder='little') + new_offset_address.to_bytes(8, byteorder='little'))
        # user_index[row['id']] = (len(pages) - 1).to_bytes(8, byteorder='little') + new_offset_address.to_bytes(8, byteorder='little')

    # note how much free space there is left per page
    for idx, p in enumerate(pages):
        allocated_offsetptr_space: int = p.tuple_count * p.slot_size
        free_page_space: int = p.tuples_data_base_address - (p.tuple_ctr_size + allocated_offsetptr_space)
        remaining_page_mem_index[idx] = free_page_space

    with open(filename, "wb") as f:
        # write pages to file
        for page in pages:
            f.write(page.bytearray)

    f.close()


def load_users_from_binary_var_length(filename):
    """
    load users from pages
    page layout: [N offset_t1 offset_t2... offset_tN offset_tN+1 tN ...t2 t1]

    :param filename: binary file to load
    :return: pandas dataframe contains all users
    """

    # extract users
    users = []
    with open(filename, "rb") as f:
        # iterate over pages
        page = f.read(PAGE_SIZE)
        while page:
            # get number of users in page
            nr_users_in_page = int.from_bytes(page[0:TUPLE_CTR_SIZE], 'little')

            # iterate over users
            for i in range(nr_users_in_page):
                # get offset of user
                offset_offset = TUPLE_CTR_SIZE + i*OFFSET_SIZE
                offset = int.from_bytes(page[offset_offset:offset_offset + OFFSET_SIZE], 'little')

                user_size = 0
                if i == 0:
                    user_size = PAGE_SIZE - offset
                else:
                    prev_offset = int.from_bytes(page[offset_offset - OFFSET_SIZE:offset_offset], 'little')
                    user_size = prev_offset - offset

                # get user
                user = page[offset:offset + user_size]
                # decode user
                users.append(decode_user_var_length(user))

            # read next page
            page = f.read(PAGE_SIZE)

    df = pd.DataFrame(users, columns=new_user_columns)
    return df


def read_var_length_user(db_filename: str, user_id: int):
    """
    Perform a random read for the user uniquely identified by the *user_id*.
    we first find the right page, then offset and get the user.

    :param db_filename: The file name of the database file
    :param user_id: The user id of the tuple to retrieve.
    :param user_index: bplustree index
    :return: The user data
    """
    tuple_location: bytes = bytes()
    found: Union[BucketValue, None] = user_index.get(user_id)
    if found is not None:
        tuple_location = found.value

    if tuple_location is None or len(tuple_location) == 0:
        return None
    page, offset_ptr = int.from_bytes(tuple_location[0:8], 'little'), int.from_bytes(tuple_location[8:16], 'little')
    with open(db_filename, "rb") as f:
        f.seek(page * PAGE_SIZE + offset_ptr)
        user_size = 0

        offset_in_page = f.read(TUPLE_CTR_SIZE)
        offset_in_page_int = int.from_bytes(offset_in_page, 'little')
        page_base_address: int = page * PAGE_SIZE

        if offset_ptr == TUPLE_CTR_SIZE:
            user_size = PAGE_SIZE - offset_in_page_int
        else:
            prev_offset_ptr: int = offset_ptr - OFFSET_SIZE

            f.seek(page_base_address + prev_offset_ptr)
            prev_offset_ptr = int.from_bytes(f.read(OFFSET_SIZE), 'little')
            user_size = prev_offset_ptr - offset_in_page_int

        f.seek(page_base_address + offset_in_page_int)
        user = f.read(user_size)
        return decode_user_var_length(user)


def get_page_with_enough_space(db_filename: str, user_size: int):
    """
    Get the page number of the page with enough space to store the user.

    :param db_filename: binary file
    :param user_size: size of user to add
    :return:
    """
    from typing import List

    # get page with enough space
    page_number = None
    for idx, free_space in remaining_page_mem_index.items():
        if free_space >= user_size + OFFSET_SIZE:
            page_number = idx
            break

    # if no page has enough space, create new page
    if page_number is None:
        page_number = len(remaining_page_mem_index)
        page: Page = create_empty_page()
        # write page to the end of the binary file
        with open(db_filename, "ab") as f:
            f.write(page.bytearray)
        f.close()

        remaining_page_mem_index[page_number] = PAGE_SIZE

    return page_number


def create_var_length_user(db_filename: str, user_tuple):
    """
    Create a new user tuple in the database.

    :param db_filename: binary file
    :param user_tuple: unencoded user tuple
    :return:
    """

    # get user id
    user_id = user_tuple[0]
    # check if user already exists
    assert user_index.get(user_id) is None, "user already exists"

    # get user
    encoded_user_tuple = encode_user_var_length(user_tuple)
    # get user size
    user_size = len(encoded_user_tuple)

    # get page with enough space
    page_number = get_page_with_enough_space(db_filename, user_size)

    # write encoded user tuple to page
    with open(db_filename, "r+b") as f:
        # get page
        page: Page = create_empty_page()
        f.seek(page_number * PAGE_SIZE)
        page.load_bytes(bytearray(f.read(page.page_size)))

        # write user to page
        new_offset_address: int = page.append_tuple(encoded_user_tuple)

        # add page and user offset to user index
        user_index.insert_keyval(user_id, page_number.to_bytes(8, 'little') + new_offset_address.to_bytes(8, 'little'))
        # user_index[user_id] = page_number.to_bytes(8, 'little') + new_offset_address.to_bytes(8, 'little')

        # write page to binary file
        f.seek(page_number * PAGE_SIZE)
        f.write(page.bytearray)

        # update remaining page mem index
        remaining_page_mem_index[page_number] -= user_size + OFFSET_SIZE


def delete_var_length_user(db_filename: str, user_id):
    """
    Delete a user tuple from the database.

    :param db_filename: The file containing the page the user is stored in
    :param user_id: The id column value for the user' db row
    """
    # Perform index lookup
    # tuple_location: bytes = user_index.get(user_id)

    tuple_location: bytes = bytes()
    found: Union[BucketValue, None] = user_index.get(user_id)
    if found is not None:
        tuple_location = found.value

    if tuple_location is None or len(tuple_location) == 0:
        return None
    page_number: int = int.from_bytes(tuple_location[0:8], 'little')
    del_user_slot_address: int = int.from_bytes(tuple_location[8:16], 'little')

    with open(db_filename, "r+b") as f:
        # Setup page
        page: Page = create_empty_page()
        f.seek(page_number * PAGE_SIZE)
        page.load_bytes(bytearray(f.read(page.page_size)))

        page.remove_tuple(user_id, page_number, del_user_slot_address)

        # Actually write page to memory
        f.seek(page_number * PAGE_SIZE)
        f.write(page.bytearray)


def update_var_length_user(db_filename: str, user_id, updated_user_tuple):
    """
    Update a user tuple in the database.

    :param db_filename: binary file
    :param user_id: user id of the user to update
    :param updated_user_tuple: unencoded user tuple
    :return:
    """
    # Perform index lookup
    # tuple_location: bytes = user_index.get(user_id)

    tuple_location: bytes = bytes()
    found: Union[BucketValue, None] = user_index.get(user_id)
    if found is not None:
        tuple_location = found.value

    if tuple_location is None or len(tuple_location) == 0:
        return None
    page_number: int = int.from_bytes(tuple_location[0:8], 'little')
    update_user_slot_address: int = int.from_bytes(tuple_location[8:16], 'little')
    final_page_number: int = -1

    encoded_updated_user_tuple = encode_user_var_length(updated_user_tuple)
    updated_user_tuple_size = len(encoded_updated_user_tuple)

    with open(db_filename, "r+b") as f:
        # Setup page
        page: Page = create_empty_page()
        f.seek(page_number * page.page_size)
        page.load_bytes(bytearray(f.read(page.page_size)))

        # Setup vars
        updated_user_address: int = page.get_tuple_address(update_user_slot_address)
        old_user_tuple_size: int = 0

        # Start of slot array
        if update_user_slot_address == TUPLE_CTR_SIZE:
            old_user_tuple_size = PAGE_SIZE - updated_user_address
        # Not start of slot array
        else:
            prev_slot_address: int = update_user_slot_address - page.slot_size
            prev_tuple_address: int = page.get_tuple_address(prev_slot_address)
            old_user_tuple_size = prev_tuple_address - updated_user_address

        # first check if there is enough space for the updated user tuple in the page if we would replace the old one
        if remaining_page_mem_index.get(page_number, 0) < updated_user_tuple_size - old_user_tuple_size:
            # not enough space
            # delete old user tuple from page
            page.remove_tuple(user_id, page_number, update_user_slot_address)
            # Actually write page to memory
            f.seek(page_number * PAGE_SIZE)
            f.write(page.bytearray)

            # find the next page with enough space
            other_page_number: int = get_page_with_enough_space(db_filename, updated_user_tuple_size)
            final_page_number = other_page_number

            # get page
            page: Page = create_empty_page()
            f.seek(other_page_number * PAGE_SIZE)
            page.load_bytes(bytearray(f.read(page.page_size)))

        else:
            # TODO scuffed but easy: just remove tuple and re-append
            # enough space, we can just write the user tuple to the page
            # Remove old user tuple
            page.remove_tuple(user_id, page_number, update_user_slot_address)
            final_page_number = page_number

        # write user to page
        new_offset_address: int = page.append_tuple(encoded_updated_user_tuple)

        # add page and user offset to user index
        user_index.insert_keyval(user_id, final_page_number.to_bytes(8, 'little') + new_offset_address.to_bytes(8, 'little'))
        # user_index[user_id] = final_page_number.to_bytes(8, 'little') + new_offset_address.to_bytes(8, 'little')

        # update remaining page mem index
        remaining_page_mem_index[final_page_number] -= updated_user_tuple_size + OFFSET_SIZE

        # write page to binary file
        f.seek(final_page_number * PAGE_SIZE)
        f.write(page.bytearray)

    print("userID ", user_id, " from page ", page_number, " to page ", final_page_number)

In [ ]:
#save
fname_bin = 'fake_users.bin2'
save_users_to_binary_var_length(fname_bin, df)
file_size = os.stat(fname_bin).st_size
print(f"File size is {file_size}B") #was 2980000B, know 999927B (about 33% of fixed-length)

In [ ]:
#load
df3 = load_users_from_binary_var_length(fname_bin)
display(df3)

In [ ]:
def test_code():
    user_index = dict()
    dft = pd.DataFrame(
    columns=['id', 'name', 'email', 'phone', 'company', 'street', 'street_number', 'zipcode', 'country_dct',
             'birthdate_ts'])
    # Reduce page size for easier testing
    global PAGE_SIZE
    OLD_PAGE_SIZE = PAGE_SIZE
    PAGE_SIZE = 256

    """Simple test code that was manually modified configured to check for specific bugs.
    This test code does NOT cover all cases and is mainly oriented towards small scale,
    manual verification of expected results.
    """
    print("""
#########################
# CREATE TEST DATAFRAME #
#########################
""", flush=True)
    # make a dataframe with a few users with random data with columns: id, name, email, phone, company, street, street_number, zipcode, country_dct, birthdate_ts, initialize with array
    dft.loc[0] = [1, 'John Doe', 'johndoe@gmail.com', '1234567890', 'Google', '1600 Amphitheatre Parkway', 1600, 94043,
                 1, 1234567890]
    dft.loc[1] = [2, 'Johnny Smith', 'johnsmith@gmail.com', '1234567890', 'Google', '1600 Amphitheatre Parkway', 1600,
                 94043, 1, 1234567890]
    dft.loc[2] = [3, 'Bill Doe', 'billdoe@gmail.com', '1234567890', 'Google', '1600 Amphitheatre Parkway', 1600, 94043,
                 1, 1234567890]
    dft.loc[3] = [4, 'Jane Doe', 'janedoe@gmail.com', '1234567890', 'Google', '1600 Amphitheatre Parkway', 1600, 94043,
                 1, 1234567890]

    dft.loc[0] = [1, 'A', 'A@m.c', '1', 'G', 'addr', 1, 2, 1, 1234567890]
    dft.loc[1] = [2, 'B', 'B@m.c', '12', 'G', 'addr', 1, 2, 1, 1234567890]
    dft.loc[2] = [3, 'C', 'C@m.c', '123', 'G', 'addr', 1, 2, 1, 1234567890]
    dft.loc[3] = [4, 'D', 'D@m.c', '1234', 'G', 'addr', 1, 2, 1, 1234567890]
    dft.loc[4] = [5, 'E', 'E@m.c', '12345', 'G', 'addr', 1, 2, 1, 1234567890]

    for uid in range(97 + 5, 97 + 26):
        dft.loc[uid] = [uid, chr(uid), chr(uid) + '@m.c', '12345', 'G', 'addr', 1, 2, 1, 1234567890]

    save_users_to_binary_var_length("test.bin", dft)




    # print(user_index.get(1))
    # print(user_index.get(2))
    # print(user_index.get(3))
    # print(user_index.get(4))
    # print(int.from_bytes(user_index.get(1)[0:8], 'little'), int.from_bytes(user_index.get(1)[8:16], 'little'))
    # print(int.from_bytes(user_index.get(2)[0:8], 'little'), int.from_bytes(user_index.get(2)[8:16], 'little'))
    # print(int.from_bytes(user_index.get(3)[0:8], 'little'), int.from_bytes(user_index.get(3)[8:16], 'little'))
    # print(int.from_bytes(user_index.get(4)[0:8], 'little'), int.from_bytes(user_index.get(4)[8:16], 'little'))
    # print("\n")

    print("""
#############################
# DISPLAY INITIAL DATAFRAME #
#############################
""", flush=True)

    df4 = load_users_from_binary_var_length("test.bin")
    display(df4)

    print("""
##############
# READ USERS #
##############
""", flush=True)

    #Read 4 random users
    print("------ BEFORE DELETE ------")
    random_ids = [1, 2, 3, 4, 5]
    random_users = []
    for id in random_ids:
        user_i = read_var_length_user("test.bin", id)
        random_users.append(user_i)
    df_sample4 = pd.DataFrame(random_users, columns=new_user_columns)
    display(df_sample4)

    print("""
################
# DELETE USERS #
################
""", flush=True)

    delete_var_length_user("test.bin", 3)
    delete_var_length_user("test.bin", 1)
    delete_var_length_user("test.bin", 5)
    delete_var_length_user("test.bin", 4)


    #Read 4 random users
    print("------ AFTER DELETE ------")
    random_ids = [1, 2, 3, 4, 5]
    random_users = []
    for id in random_ids:
        user_i = read_var_length_user("test.bin", id)
        if user_i is None:
            continue
        random_users.append(user_i)
    df_sample2 = load_users_from_binary_var_length("test.bin")
    display(df_sample2)

    print("""
################
# CREATE USERS #
################
""", flush=True)

    # create new user
    new_user = [1000, 'A', 'A@m.c', '1', 'G', 'addr', 1, 2, 1, 1234567890]
    new_user2 = [2000, 'G', 'G@m.c', '1', 'G', 'addr', 1, 2, 1, 1234567890]
    for uid in range(10000, 10000 + 1000):
        new_userx = [uid, str(uid), 'G@m.c', '1', 'G', 'addr', 1, 2, 1, 1234567890]
        create_var_length_user("test.bin", new_userx)
    create_var_length_user("test.bin", new_user)
    create_var_length_user("test.bin", new_user2)
    df4 = load_users_from_binary_var_length("test.bin")
    display(df4)

    print("""
################
# UPDATE USERS #
################
""", flush=True)

    # update user
    for new_user_id in range(105, 115):
        new_user = [new_user_id, str(new_user_id), str(new_user_id) * 5 + '@m.c', '3', 'H', 'addr', 1, 2, 1, 1333566890]
        update_var_length_user("test.bin", new_user_id, new_user)

    df4 = load_users_from_binary_var_length("test.bin")
    display(df4)

    # Reinstate page size
    PAGE_SIZE = OLD_PAGE_SIZE
    df4.iloc[0:0]
    dft.iloc[0:0]
    df_sample4.iloc[0:0]
    df_sample2.iloc[0:0]

In [ ]:
test_code()